html{
    scroll-behavior: smooth;
}
body{
    /*fundo*/
background-color: #F2E7DC;

/*texto*/
color: #0d0d0d;
text-align: justify;

/*alinhamento e tamanho*/
width: 85%;
margin: auto;
}
/*seção dos livros*/
section{
    padding: 64px 256px;
}

/*tabela*/
table{
    width: 100%;
}
td{
    background-color: #A9D9D0;
    text-align: center;
}
td,th{
    
    border: #000 solid 1px;
    border-radius: 4px;
    text-align: center;
}
tr{
    background-color: #038C7F;
}

p{
    text-align: justify;
    text-indent: 50px;
}
h1,h2,h3{
    text-align: center;
}
h3{
    color: #000;
}
/*links*/
a:link{
    color:#F2E7DC;/*link normal*/
}
a:visited   {   
        color: #95bfb8; /*link visitado*/
}
a:hover {
    color: #025454;/*mouse sobre link*/
}
a:active {
    color: #0d0d0d;/*link selecionado*/
}
img{
    width: 300px; 
    display: block;
    margin: auto;
    border-radius: 50px;
}
/*classes e ides*/
.bookTitle{
    background-color: #A9D9D0;
    color: #027373;
    text-align: center;
}
#sectionHP, #sectionSA, #sectionPC{
    background-color: #A9D9D0;
}
#header{
    background-color: #038C7F;
    color: #F2E7DC;
    padding: 20px;
    margin-bottom: 0px;
    
}

#yourLibrary{
    text-indent: 0px;
    text-align: center;
}
#sumary{
    background-color: #038C7F;
    color: #F2E7DC;
    padding: 20px;
    margin-bottom: 50px;
    border-radius: 0 0 50px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;


}
footer{
    background-color: #038C7F;
    width: 100%;
    text-align:center; 
    padding: 30px 0;
}